.empty {
  text-align: center;
  p {
    font-family: 'Rubik';
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
  }
}

.icon {
  font-size: 96px;
}
