$primary-color: rgba(255, 255, 255, 0.6);
$bg: #191b23;
$bg-card: #303139;
$bg-select: #393b43;
$bg-select-item: #51525b;
$bg-select-item-hover: #757680;
$bg-select-item-hover2: #5d5e67;
$fm: 'Rubik';
$bg-linear: linear-gradient(90deg, #01eaf9 0%, #0a58e1 100%);
