.earn {
  padding: 24px;
  height: calc(100vh - 92px);
  overflow: auto;
}

.liqulity {
  padding: 24px 24px 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;

  h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: #fff;
  }
  section {
    min-height: 220px;
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pooltitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 48px;
  h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
  }
  p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
  }
}

.liquiditys {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px;
}

.liquidity {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 24px;
  width: 30%;
  margin-right: 16px;
  background: #25272e;
  margin-bottom: 16px;
  &:nth-of-type(3n + 3) {
    margin-right: 0;
  }
  p {
    margin-top: 8px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    span {
      float: left;
    }
    strong {
      float: right;
      color: #fff;
    }
  }
  button {
    width: 100%;
    margin-top: 16px;
    border-radius: 4px;
    border: 0;
    outline: none;
    background: #7d69ff;
    height: 24px;
    line-height: 24px;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
    &:hover {
      background: #9f93ff;
    }
  }
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  span {
    margin-left: 16px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 24px;
  }
  div {
    width: 24px;
    transform: translateX(-12px);
  }
  svg {
    display: block;
    height: 24px;
    font-size: 24px;
  }
}

.list {
  li {
    height: 70px;
    border-bottom: 1px solid rgba(231, 231, 231, 0.1);
    overflow: hidden;
    div {
      float: left;
      height: 100%;
      line-height: 70px;
      color: #fff;
      &:first-of-type {
        // width: 15%;
        min-width: 180px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      &:nth-of-type(2) {
        width: 40%;
      }
      &:nth-of-type(3) {
        width: 15%;
      }
      &:nth-of-type(4) {
        width: 15%;
      }
      &:last-of-type {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        text-align: right;
      }
    }
    p {
      line-height: 72px;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      width: 100% !important;
      text-align: left !important;
    }
    img {
      width: 48px !important;
      height: 48px;
      border-radius: 24px;
      display: block;
      overflow: hidden;
    }
    svg {
      width: 48px;
      height: 48px;
      font-size: 48px !important;
    }
  }
}

.more {
  font-size: 24px;
  opacity: 0.6;
  display: block;
  margin: -20px auto 0;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
